
app-sidebar {
    transition: transform 0.3s ease-in-out;/*is used to create a smooth animation effect*/
}

app-sidebar:hover {
    transform: translateX(10px);
}

main.content {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
